@model String

@{
    ViewBag.Title = "TestingErrorView";
    Layout = "~/Views/Shared/_QuizLayout.cshtml";
}

<div class="container text-center text-danger has-padding">
    <h2>Error: @Model</h2>
</div>

